@mixin size ($w, $h){
    width: $w;
    height: $h;
}

@mixin  flex ($d, $dir, $jus) {
    display: $d;
    flex-direction: $dir;
    justify-content: $jus;
}

@mixin image ($bs, $br, ) {
    background-size: $bs;
    background-repeat: $br;
}

@mixin text ($ff, $fs, $fw, $lh, $ls, $ta) {
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $lh;
    text-align: $ta;
}